* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: clip;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(5, 65, 125);
    font-weight: 400;
    max-height: -webkit-fill-available;
    font-size: 19px;
}

main {
    background: linear-gradient(327deg, #f8f9fa 0%, rgb(251 229 242) 30%, #9c9fd2 100%);
}

/* -------------------NAVBAR--------------------  */

a.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link,
.btn-check:active+.btn,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:active {
    font-size: 1rem;
    color: #0c5871;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    padding: 1px 8px;
    border: none;
    border-bottom: solid rgba(192, 154, 176, 0.581);
    font-weight: 400;
}

a {
    font-size: 1rem;
    color: #0c5871;
    text-decoration: none;
}

@media screen and (min-width:767px) {
    a.nav-link:hover {
        box-shadow: 2px 2px 10px 2px white;
        color: #0c5871;
        transform: translateY(-2px);
        transition: 0.1s ease-in-out;
    }


}

.icon-navbar-brand {
    font-size: 2rem;
    color: rgb(164, 66, 125);
    margin-left: 2rem;
}


/* @media screen and (max-width:767px) { }*/

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: white;
    border-radius: 30px;
    font-weight: 400;
    background: linear-gradient(127deg, rgb(82, 120, 158) 10%, rgb(214, 111, 173) 100%);
    margin: 0.5rem;
    padding: 0.5rem 2rem;
    /* border: solid 1px; */
    font-size: 1rem;
}



/* ---------------------MAIN--------------------  */

/* ----------------------HOME-------------------  */

#avatar {
    background: rgb(2, 0, 36);
    background: linear-gradient(127deg, rgba(2, 0, 36, 1) 0%, rgba(3, 38, 72, 1) 10%, rgb(164, 66, 125, 1) 100%);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
}



/* .section-text {
    width: 300px;
} */

.list-group {
    margin: 1rem 0;
}

h1,
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    margin-top: 1rem;
    color: rgb(164, 66, 125);
    min-width: 305px;
}

/* ----------For bootstraps glow effect, need to modify---------- */
.placeholder {
    cursor: auto;
    background: none;
    opacity: 1;
}

span.intro-text {
    font-size: 20px;
    font-weight: 300;
    height: 2.5rem;
    padding: 1px;
    border-radius: 20px;
    background: linear-gradient(127deg, rgba(2, 0, 36, 1) 0%, rgba(3, 38, 72, 1) 10%, rgb(164, 66, 125, 1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85%;
    margin: auto;
}

.section-page,
.section,
.sub-sections-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 1.5rem;
}

.home-page {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 8em; */
}

/* ---For sections with subsections, need to adjust flex so that when there is wrap, subsections do not break and wrap---- */
@media screen and (max-width:600px) {

    .sub-sections-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}

h3 {
    color: rgb(164, 66, 125);
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 300;
}

section {
    height: 100vh;
}

/* ---------------------ABOUT-------------------- */



/* ------------------EDUCATION------------------- */






/* --------------------SKILLS-------------------- */




/* ---------------LANGUAGES,COURSES-------------- */







/* --------------------HOBBIES------------------- */


.hobby {
    width: 6rem;
    height: 6rem;
    /* border: dashed rgba(139, 99, 123, 1) 0.1rem;
    border-radius: 50%; */
    margin: 4px 2px;
}


/* --------------------PROJECTS------------------- */


.project-previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1em; */
    align-items: center;
    /* flex-direction: column; */
}

.project-preview {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.project-preview>figcaption {
    cursor: pointer;
    color: #2c5f6f;
    font-size: 1.5rem;
    font-style: italic;
}

.project-img {
    width: 30em;
    height: 30em;
    margin: 4px 2px;
    border-radius: 5%;
    filter: brightness(100%);
    transition: all 0.5s ease-in-out;
}

.project-preview:hover {
    transform: scale(1.1);
    color: rgb(164, 66, 125);
    ;
}

.features-list {
    max-width: 600px;
    text-align: left;
}

.features-item {
    margin-top: 1rem;
}

.icon {
    color: rgb(164, 66, 125);
    text-decoration: none;
    display: block;
    margin: 1rem;
}

.hint-clickable {
    font-size: 1rem;
    font-style: italic;
}


/* --------------------CONTACT------------------- */


.carousel-control-next,
.carousel-control-prev {
    width: 8%;
}

.carousel-control-next {
    right: 0px;
}

.arrow-icon {
    color: #770202;
    opacity: 1;
    font-size: 1.5rem;
}

/* ----------------------FOOTER------------------- */

footer {
    padding-bottom: 1rem;
}


/* ----------------------MEDIA QUERIES------------------- */

@media screen and (max-width: 1000px) {

    .home-page {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {

    .project-img {
        width: 15em;
        height: 15em;
    }

    .project-preview>figcaption {
        font-size: 1.2em;
    }

    .features-list {
        font-size: 1rem;
    }

    .features-item {
        margin: 0;
    }
}

@media screen and (min-width: 720px) {

    #avatar {
        width: 30rem;
        height: 30rem;
        margin-top: 1.5rem;
    }

    .hobby {
        width: 8rem;
        height: 8rem;
    }

    span.intro-text {
        /* margin-bottom: 10rem; */
        font-size: 1rem;
    }

    .arrow-icon {
        font-size: 4rem;
    }

    #contact>div>p>a {
        font-size: 1.5rem;
    }

    .section-text {
        width: 500px;
    }

}

@media screen and (min-width:1400px) {
    /* body {
        font-size: 30px;
    } */

    span.intro-text {
        font-size: 25px;
    }

    #avatar {
        width: 40rem;
        height: 40rem;
    }

    h1,
    h2,
    h3 {
        font-size: 5rem;
    }

    h3 {
        font-size: 2rem;
    }

}